{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-xl shadow-2xl w-96">
        <h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Login</h1>

        <form method="POST" action="" class="space-y-6">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">
            <div class=" -space-y-px">
              <div class="mb-3">
                <label for="username" class="sr-only">Username</label>
                <input id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Username">
              </div>
              <div>
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Password">
              </div>
            </div>
            <br><br>
            <div>
                <button type="submit" class="w-full bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-purple-500 focus:ring-offset-2 transition duration-300">
                    <h5 class="font-bold">Login</h5>
                </button>
            </div>
        </form>

        {% if messages %}
        <div class="mt-4">
            {% for message in messages %}
                <p class="text-sm text-red-600">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        <p class="mt-6 text-center text-sm text-gray-600">
            Don't have an account yet?
            <a href="{% url 'main:register' %}" class="font-medium hover:text-black">
                <u>Register Now</u>
            </a>
        </p>
    </div>
</div>
{% endblock content %}