{% extends "base.html" %}
{% load static %}

{% block meta %}
<title>Jual Beli</title>
{% endblock meta %}


{% block content %}
{% include "navbar.html" %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
      {% include "card_info.html" with title='Name' value=nama %}
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Kelas' value=kelas %}

    </div>
  </div>
</div>

<p>Sesi terakhir login: {{ last_login }}<p>

{% endblock content %}