{% extends "base.html" %}
{% load static %}

{% block meta %}
<title>Jual Beli</title>
{% endblock meta %}


{% block content %}
{% include "navbar.html" %}

<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative">
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-8">
      {% include "card_info.html" with title='Name' value=nama %}
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Kelas' value=kelas %}
    </div>

    <div class="flex justify-center mt-16">
      <a href="{% url 'main:show_product' %}" class="bg-blue-500 text-white font-semibold py-2 px-6 rounded hover:bg-blue-600 transition duration-200">
        Go to Products
      </a>
    </div>
  </div>
</div>


</div>


{% endblock content %}