{% extends "base.html" %}
{% load static %}

{% block meta %}
{% endblock meta %}
{% block content %}
{% include "navbar.html" %}

    <div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">

        <!-- Tombol untuk memfilter berdasarkan category -->
        <div class="flex flex-wrap justify-between items-center space-x-2 ">
            
            <a href="{% url 'main:show_product' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'all' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">All</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'elektronik' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'elektronik' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Elektronik</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'fashion' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'fashion' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Fashion & Style</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'makanan' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'makanan' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Makanan & Minuman</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'furniture' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'furniture' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Furniture</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'otomotif' %}"><div class="bg-gray-200 mx-2 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'otomotif' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Otomotif</p></a>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'alattulis' %}"><div class="bg-gray-200 mx-4 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'alattulis' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <a href="{% url 'main:show_product_by_category' 'alattulis' %}"><p class="text-center">Alat Tulis</p>
            </div></a>

            <a href="{% url 'main:show_product_by_category' 'others' %}"><div class="bg-gray-200 mx-4 px-4 py-1 border border-gray-400 rounded-lg flex items-center justify-center {% if category == 'others' %} bg-gray-500 text-white {% else %} hover:bg-gray-300 {% endif %}">
                <p class="text-center">Others</p>
            </div></a>

        </div>

        <br>

        <div id="product_entry_cards"></div>

        <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
            <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
              <!-- Modal header -->
              <div class="flex items-center justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                  Add New Product
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                  <span class="sr-only">Close modal</span>
                </button>
              </div>
              <!-- Modal body -->
              <div class="px-6 py-4 space-y-6 form-style">
                <form id="productEntryForm">
                    
                    <!-- Name -->
                    <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                    <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product name" required>
                    </div>

                    <!-- Price -->
                    <div class="mb-4">
                    <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                    <input type="number" id="price" name="price" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product price" required>
                    </div>

                    <!-- Description -->
                    <div class="mb-4">
                    <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                    <textarea id="description" name="description" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Describe your product" required></textarea>
                    </div>

                    <!-- Stock -->
                    <div class="mb-4"> 
                    <label for="stock" class="block text-sm font-medium text-gray-700">Stock</label>
                    <input type="number" id="stock" name="stock" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product stock" required>
                    </div>

                    <!-- Rating -->
                    <div class="mb-4">
                    <label for="stock" class="block text-sm font-medium text-gray-700">Rating</label>
                    <input type="number" id="rating" name="rating" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter product rating" required>
                    </div>

                    <!-- Category -->
                    <div class="mb-4">
                    <label for="price" class="block text-sm font-medium text-gray-700">Category</label>
                    <select id="category" name="category" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
                        <option value="" disabled selected>Select a category</option>
                        <option value="elektronik">Elektronik</option>
                        <option value="fashion">Fashion & Style</option>
                        <option value="makanan">Makanan & Minuman</option>
                        <option value="furniture">Furniture</option>
                        <option value="otomotif">Otomotif</option>
                        <option value="alattulis">Alat Tulis</option>
                        <option value="others">Others</option>
                    </select>
                    </div>


                </form>
              </div>
              <!-- Modal footer -->
              <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
                <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
                <button type="submit" id="submitNewProduct" form="productEntryForm" class="bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Submit</button>
              </div>
            </div>
          </div>

        
    </div>

    <script>
        async function getProductEntries(){
            return fetch("{% url 'main:show_json_by_category' category %}").then((res) => res.json());  
        }

        async function refreshProductEntries() {
            document.getElementById("product_entry_cards").innerHTML = "";
            document.getElementById("product_entry_cards").className = "";
            const productEntries = await getProductEntries();
            let htmlString = "";
            let classNameString = "";

            if (productEntries.length === 0) {
                classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
                htmlString += `
                <div class="mt-12 ml-16 mb-0 justify-center flex space-x-4">
                    <a href="{% url 'main:create_new_product' %}" class="inline-flex flex-col items-center bg-blue-500 text-white p-4 rounded-full shadow-lg hover:bg-blue-600 w-24 h-24 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        <span class="mt-2 text-[10px] text-center font-semibold">Create New Product</span>
                    </a>

                    <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="flex flex-col items-center bg-indigo-700 hover:bg-indigo-600 text-white font-bold p-4 rounded-full shadow-lg w-24 h-24 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                        </svg>
                        <span class="mt-2 text-[10px] font-semibold">Create by AJAX</span>
                    </button>
                </div>
                `
                htmlString += `
                <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                    <img src="{% static 'image/data-not-found.png' %}" alt="not found" class=""/>
                    <p class="text-center text-gray-600 mt-4">Belum ada produk disini</p>
                </div>
                `;
            } else {
                classNameString = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6";
                productEntries.forEach((item) => {
                    htmlString += `
                    <div class="relative max-w-sm bg-gray-300 shadow-xl rounded-lg overflow-hidden text-white p-6 border-2 border-black">
                        <div class="{%if product_entry.stock == 0 %} blur-sm {% endif %}">
                            <!-- Category -->
                            <div class="inline-block bg-purple-200 text-xs px-3 py-2 uppercase font-semibold rounded-full mb-3"><h4 class="text-black">Category: ${item.fields.category}</h4></div>
                            
                            <!-- Product Name -->
                            <h2 class="text-2xl font-bold mb-2 text-black">${item.fields.name}</h2>
                            
                            <!-- Price -->
                            <div class="text-lg mb-3 text-gray-800">Rp${item.fields.price},00</div>
                            
                            <!-- Description -->
                            <p class="text-gray-900 text-sm mb-4">
                            ${item.fields.description}
                            </p>
                            <br>

                            <div class="flex space-x-1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="25" height="25" fill="yellow">
                                        <polygon points="12,2 15,8.5 22,9.5 17,14.5 18.5,21.5 12,18 5.5,21.5 7,14.5 2,9.5 9,8.5" />
                                    </svg> 
                                </span>
                                <h4 class="text-lg font-bold text-gray-800"> ${item.fields.ratings}</h4>
                            </div>

                            <div class="top-0 -right-4 flex space-x-10 justify-center ">
                                <a href="/edit/${item.fields.pk}" class="bg-yellow-500 hover:bg-yellow-600 text-white rounded-full p-2 transition duration-300 shadow-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                                </svg>
                                </a>
                                <a href="/delete/${item.fields.pk}" class="bg-red-500 hover:bg-red-600 text-white rounded-full p-2 transition duration-300 shadow-md">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-9 w-9" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                                </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    `

                    if (item.fields.stock == 0) {
                        htmlString += `
                        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10">
                            <span class="text-white text-3xl font-bold">NOT AVAILABLE</span>
                        </div>
                        `
                    }
                });
                htmlString += `
                    <div class="mt-12 ml-16 mb-0 justify-center flex space-x-4">
                        <a href="{% url 'main:create_new_product' %}" class="inline-flex flex-col items-center bg-blue-500 text-white p-4 rounded-full shadow-lg hover:bg-blue-600 w-24 h-24 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                            </svg>
                            <span class="mt-2 text-[10px] text-center font-semibold">Create New Product</span>
                        </a>

                        <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="flex flex-col items-center bg-indigo-700 hover:bg-indigo-600 text-white font-bold p-4 rounded-full shadow-lg w-24 h-24 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                            </svg>
                            <span class="mt-2 text-[10px] font-semibold">Create by AJAX</span>
                        </button>
                    </div>
                    `
            }
            document.getElementById("product_entry_cards").className = classNameString;
            document.getElementById("product_entry_cards").innerHTML = htmlString;
        }
        refreshProductEntries();

        const modal = document.getElementById('crudModal');
        const modalContent = document.getElementById('crudModalContent');

        function showModal() {
            const modal = document.getElementById('crudModal');
            const modalContent = document.getElementById('crudModalContent');

            modal.classList.remove('hidden'); 
            setTimeout(() => {
                modalContent.classList.remove('opacity-0', 'scale-95');
                modalContent.classList.add('opacity-100', 'scale-100');
            }, 50); 
        }

        function hideModal() {
            const modal = document.getElementById('crudModal');
            const modalContent = document.getElementById('crudModalContent');

            modalContent.classList.remove('opacity-100', 'scale-100');
            modalContent.classList.add('opacity-0', 'scale-95');

            setTimeout(() => {
                modal.classList.add('hidden');
            }, 150); 
        }

        document.getElementById("cancelButton").addEventListener("click", hideModal);
        document.getElementById("closeModalBtn").addEventListener("click", hideModal);


    </script>


{% endblock content %}